#circleG{
width:102.66666666666667px;
}

.circleG{
background-color:#9BD99B;
float:left;
height:22px;
margin-left:12px;
width:22px;
-webkit-animation-name:bounce_circleG;
-webkit-border-radius:15px;
-webkit-animation-duration:1.6500000000000001s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circleG;
-moz-border-radius:15px;
-moz-animation-duration:1.6500000000000001s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
opacity:0.3}

#circleG_1{
-webkit-animation-delay:0.33000000000000007s;
-moz-animation-delay:0.33000000000000007s}

#circleG_2{
-webkit-animation-delay:0.7700000000000001s;
-moz-animation-delay:0.7700000000000001s}

#circleG_3{
-webkit-animation-delay:0.9900000000000001s;
-moz-animation-delay:0.9900000000000001s}

@-webkit-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#ADADFF}

100%{
opacity:0.3}

}

@-moz-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#ADADFF}

100%{
opacity:0.3}

}

#bowlG{
position:relative;
width:80px;
height:80px;
}

#bowl_ringG{
position:absolute;
width:80px;
height:80px;
border:7px solid #ADADFF;
-moz-border-radius:80px;
-webkit-border-radius:80px;
}

.ball_holderG{
position:absolute;
width:21px;
height:80px;
left:29px;
top:0px;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-moz-animation-name:ball_moveG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-19px;
width:32px;
height:32px;
background:#9BD99B;
-moz-border-radius:27px;
-webkit-border-radius:27px;
}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}

}